
@font-face {
  font-family: 'arcadeclassic';
  src: url('/fonts/ARCADECLASSIC.ttf');
}

body { 
	touch-action: none;
	font-family: 'arcadeclassic';
	width: 100%;
  	height: 100%;
 	margin: 0px;
}

/*===================MAP==================*/

.map-container {
	position: absolute;
	/*top: -210px;*/
	top: -32%;
	left: -30%;
  	width: 155%;
  	height: 105vh;
	/*tilt code*/
     -webkit-transform: perspective(500px) rotateX(50deg) !important;
     transform: perspective(500px) rotateX(50deg) !important;
}

#map {
	border: green solid 1px;
    position: relative;
    height: 100vh; 
    width: 100vw; 
 }


 /*===================END==================*/


 /*===================GAME layout==================*/

.hidden{
	visibility: hidden !important;
}

.shown{
	visibility: visible !important;;
	-webkit-animation: fade_in 0.5s;
	animation: fade_in 0.5s；
}

@-webkit-keyframes fade_in {
  from {opacity:0.0;} 
  to {opacity: 1.0;}
}

@keyframes fade_in {
  from {opacity:0.0;} 
  to {opacity: 1.0;}
}

.display_none{
	display: none;
}

.disaply_inline{
	display: inline;
}

.map{
	visibility: inherit;
}

.display .no{
	display: none;
}

.controlPanel{
	visibility: inherit;
	position: absolute;
	bottom: 0px;
	height: 250px;
	width: 100%;
	left: 0%;
	background: url('images/background4.png');
	background-size: 100% 250px;
	background-repeat: no-repeat;
}

.winPopup1{
	position: absolute;
	left: 0%; 
	top: 30%;
	height: 50px; 
	width:100%;
	background: url('images/win_popup1.png');
	background-size: 100% 50px;
	background-repeat: no-repeat;
	-webkit-animation: pop_a 0.3s;
	animation: pop_a 0.3s；
}

@-webkit-keyframes pop_a {
  from {left: -100%;} 
  to {left: 0%;}
}

@keyframes pop_a {
  from {left: -100%;} 
  to {left: 0%;}
}



.winPopup1 > .win_text{
	font-family: 'arcadeclassic';
	position: absolute;
	left: 35%;
	top: 10px;
	font-size: 30px;
	text-align: center;	
	-webkit-animation: pop_text_a 0.6s;
	animation: pop_text_a 0.6s；
}

@-webkit-keyframes pop_text_a {
  from {left: -200%;} 
  to {left: 35%;}
}

@keyframes pop_text_a {
  from {left: -200%;} 
  to {left: 35%;}
}

.winPopup2{
	position: absolute;
	left: 0%; 
	top: 40%;
	height: 30px; 
	width:100%;
	background: url('images/win_popup1.png');
	background-size: 100% 30px;
	background-repeat: no-repeat;
	-webkit-animation: pop_b 0.6s;
	animation: pop_b 0.6s；
}

@-webkit-keyframes pop_b {
  from {left: -200%;} 
  to {left: 0%;}
}

@keyframes pop_b {
  from {left: -200%;} 
  to {left: 0%;}
}


.winPopup2 > .reward_text{
	font-family: 'arcadeclassic';
	position: absolute;
	left: 35%;
	top: 5px;
	font-size: 20px;
	text-align: center;	
	-webkit-animation: pop_text_b 0.9s;
	animation: pop_text_b 0.9s；
}

@-webkit-keyframes pop_text_b {
  from {left: -300%;} 
  to {left: 35%;}
}

@keyframes pop_text_b {
  from {left: -300%;} 
  to {left: 35%;}
}

.drawPopup{
	position: absolute;
	left: 0%; 
	top: 30%;
	height: 50px; 
	width:100%;
	background: url('images/draw_popup.png');
	background-size: 100% 50px;
	background-repeat: no-repeat;
	-webkit-animation: pop_a 0.3s;
	animation: pop_a 0.3s；
}

.drawPopup > .draw_text{
	font-family: 'arcadeclassic';
	position: absolute;
	left: 40%;
	top: 10px;
	font-size: 30px;
	text-align: center;	
	-webkit-animation: pop_text_a 0.6s;
	animation: pop_text_a 0.6s；
}

.losePopup1{
	position: absolute;
	left: 0%; 
	top: 30%;
	height: 50px; 
	width:100%;
	background: url('images/lose_popup.png');
	background-size: 100% 50px;
	background-repeat: no-repeat;
	-webkit-animation: pop_a 0.3s;
	animation: pop_a 0.3s；
}


.losePopup1 > .lose_text{
	font-family: 'arcadeclassic';
	position: absolute;
	left: 35%;
	top: 10px;
	font-size: 30px;
	text-align: center;	
	-webkit-animation: pop_text_a 0.6s;
	animation: pop_text_a 0.6s；
}

.losePopup2{
	position: absolute;
	left: 0%; 
	top: 40%;
	height: 30px; 
	width:100%;
	background: url('images/lose_popup.png');
	background-size: 100% 30px;
	background-repeat: no-repeat;
	-webkit-animation: pop_b 0.6s;
	animation: pop_b 0.6s；
}


.losePopup2 > #penalty_text{
	font-family: 'arcadeclassic';
	position: absolute;
	left: 35%;
	top: 5px;
	font-size: 20px;
	text-align: center;	
	-webkit-animation: pop_text_b 0.9s;
	animation: pop_text_b 0.9s；
}

.menu_button{
	font-family: 'arcadeclassic';
	position: absolute;
	top: 3%;
	right: 5px;
	font-size: 20px;
	width: 130px;
	text-align: center;
}

.menu_button:active{
	transform: translateY(4px);
}

.venture{
	font-family: 'arcadeclassic';
	position: absolute;
	top: 8%;
	right: 5px;
	font-size: 20px;
	width: 130px;
	text-align: center;
}

.venture:active{
	transform: translateY(4px);
}


.board{
	position: absolute;
	top: 10px;
	left: 35%;
	width: 120px;
	height: 50px;
}

#board_attackMax{
	position: absolute;
	left: 0px;
	top: 3px;
	display: none;
	width:35px;
	height:50px;
	background: url('images/skills/icon_attackMax.png');
	background-size: 35px auto;
	background-repeat: no-repeat;
	opacity: 0.8;
}

#board_cheat{
	visibility: hidden;
	position: absolute;
	left: 40px;
	top: 0px;
	width:30px;
	height:50px;
	background: url('images/skills/icon_cheat.png');
	background-size: 30px auto;
	background-repeat: no-repeat;
	opacity: 0.8;
}

#board_cheat_timer{
	position: absolute;
	left: 40px;
	top: 40px;
	width: 30px;
	font-size: 15px;
	text-align: center;
	color: grey;
}

#board_powerMax{
	visibility: hidden;
	position: absolute;
	left: 80px;
	top: 0px;
	width:30px;
	height:50px;
	background: url('images/skills/icon_powerMax.png');
	background-size: 30px auto;
	background-repeat: no-repeat;
	opacity: 0.8;
}

#board_powerMax_timer{
	position: absolute;
	left: 80px;
	top: 40px;
	width: 30px;
	font-size: 15px;
	text-align: center;
	color: grey;
}

.profile{
	font-size: 15px;
	height:100px;
	width: 130px;
	position: absolute;
	text-align: center;
	top: 1%;
	left: 5%;
}

.userlevel{
	display: inline;
	font-size:12px;
	float: center;
}

.skill_name{
	position: absolute;
	top: 10px;
	right: 50px;
	width: 120px;
	font-size: 18px;
	color: grey;
	text-align: center;
	font-weight: lighter;
}

.skills{
	position: absolute;
	bottom: 60px;
	right: 25px;
	width: 180px;
	height: 150px;
}

.skill{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 60px;
	margin-right: -7px;
	margin-bottom: -6px;
}


.base{
	position: absolute;
	bottom:0px;
	width:65px;
	height:34px;
	background: url('images/skills/skillbg.png');
	background-size: 65px 34px;

}

.GODSEYE{
	width:65px;
	height:45px;
	background: url('images/skills/eyeball_seat.png');
	background-size: 65px 45px;
}

.select{
	transform: translateY(4px);
}

.GODSEYE-X{
	width:65px;
	height:45px;
	background: url('images/skills/eyeballx_seat.png');
	background-size:65px 45px;
}
.CHEAT{
	width:65px;
	height:45px;
	background: url('images/skills/cheat_seat.png');
	background-size:65px 45px;
}

.SUPER-SWITCH{
	width:65px;
	height:45px;
	background: url('images/skills/landmine_seat.png');
	background-size:65px 45px;
}
.POWER-MAX{
	width:65px;
	height:45px;
	background: url('images/skills/powermax_seat.png');
	background-size:65px 45px;
}

.ATTACK-MAX{
	width:65px;
	height:45px;
	background: url('images/skills/attackmax_seat.png');
	background-size:65px 45px;
}


.skillBtn{
	position: absolute;
	right: 100px;
	bottom: 15px;
	width: 50px;
	height: 55px;
	background: url('images/skills/skill_btn.png');
	background-size: 50px 55px;
	background-position:center bottom;
	background-repeat: no-repeat;
}

.skillBtn_disabled{
	position: absolute;
	right: 100px;
	bottom: 15px;
	width: 50px;
	height: 55px;
	background: url('images/skills/skill_btn_disabled.png');
	background-size: 50px 55px;
	background-position:center bottom;
	background-repeat: no-repeat;
}

.skillBtn:active {
	background: url('images/skills/skill_btn_pressed.png');
	background-size: 50px 45px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.rotateTargetContainer{
	position: absolute;
	top:-50px;
	left: 38%;
}

#attack_text{
	display: none;
}

.attack_text{
	display: inline !important;
	position: absolute;
	top: 0px;
	left: 0%;
	width: 100%;
	text-align: center;
	-webkit-animation: attack 1s;
	animation: attack 1s;
}

@-webkit-keyframes attack {
  from {font-size: 20px; opacity: 1.0;} 
  to {font-size: 70px; opacity: 0.0;}
}

@keyframes attack {
  from {font-size: 20px; opacity: 1.0;} 
  to {font-size: 70px; opacity: 0.0;}
}

/*unready*/
.targetBtn.unready{
	width: 90px;
	height:90px;
	background: url('images/rotateTarget_dark.png') left center;
	background-size: 450px 90px;
	animation: unreadyPlay 0.8s steps(5) infinite;
}

@keyframes unreadyPlay {
   100% { background-position: -450px; }
}

.targetBtn.unready:active {
	transform: translateY(4px);
}

.targetBtn.ready{
	width: 90px;
	height: 90px;
	background: url('images/rotateTarget_normal.png') left center;
	background-size: 450px 90px;
	animation: readyPlay 0.8s steps(5) infinite;
}

@keyframes readyPlay {
   100% { background-position: -450px; }
}

.targetBtn.ready:active {
	transform: translateY(4px);
}

.levelMedal{
	float:left;
	margin: 5px;
	width: 18px;
	height: 30px;
	background: url('images/levelBadge0.png') left center;
	animation: levelMedalPlay 1s steps(6) infinite;
	background-repeat: no-repeat;
	background-size: 120px 30px;
}

@keyframes levelMedalPlay {
   100% { background-position: -120px; }
}

.levelMedalValue{
	font-family: 'arcadeclassic';
	font-weight: lighter;
	font-size: 20px;
	float:left;
	margin: 10px;
	text-align: center;

}

.goldCoin{
	float: left;
	margin: 6px;
	margin-top: -20px;
	width: 18px;
	height: 20px;
	background: url('images/goldCoin.png') left center;
	background-size: 140px 20px;
	animation: goldCoinPlay 0.7s steps(7) infinite;
	background-repeat: no-repeat;
}

@keyframes goldCoinPlay {
   100% { background-position: -140px; }
}

.goldCoinValue{
	font-family: 'arcadeclassic';
	font-weight: lighter;
	font-size: 20px;
	float: left;
	margin: 6px;
	margin-top: -20px;
	text-align: center;
}

.starContainer{
	position: absolute;
	bottom: -10px;
	text-align: center;
	left:-10px;
	width: 70px;
}

.star{
	position: relative;
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url('images/star4.png');
	background-size: 15px 15px;
	z-index: 11;
	margin:-1px;
}

.rolesContainer{
	position: absolute;
	top: 5px;
	left: 20px;
	width: 160px;
}

.role{
	position: relative;
	width: 50px;
	height: 85px;
	margin-top: 20px;
	margin-left: 15px;
	display: inline-block;
	text-align: center;
	color: black;
	font-size: 5px;
}

.role:active {
	transform: translateY(4px);
}

.curtain_none{
	display: none;
}

.curtain_left{
	position: absolute;
	height: 60px;
	width: 20px;
	top: -12px;
	left: -3px;
	background: url('images/curtain_left.png');
	background-size: 20px 60px;
	z-index:12;
}

.curtain_right{
	position: absolute;
	height: 60px;
	width: 20px;
	top: -12px;
	right: -3px;
	background: url('images/curtain_right.png');
	background-size: 20px 60px;
	z-index:12;
}

.curtain_top{
	position: absolute;
	height: 15px;
	width: 50px;
	top: -12px;
	left: 0px;
	background: url('images/curtain_top.png');
	background-size: 50px 15px;
	z-index:10;
}

.char{
	position:absolute;
	left: 10px;
	bottom: 15px;
	width:30px;
	height:75px;
	z-index:11;
}

.abled .detective{
	background: url('images/char/detective.png');
	background-size: 30px 75px;
	-webkit-animation: char_pop 2.0s;
	animation: char_pop 2.0s；
	opacity: 1.0;
}

@-webkit-keyframes char_pop {
  from {opacity: 0.0;} 
  to {opacity: 1.0;}
}

@keyframes char_pop {
  from {opacity: 0.0;} 
  to {opacity: 1.0;}
}


.abled .gangster{
	background: url('images/char/gangster.png');
	background-size: 30px 75px;
	-webkit-animation: char_pop 2.0s;
	animation: char_pop 2.0s；
	opacity: 1.0;
}

.abled .farmer{
	background: url('images/char/farmer.png');
	background-size: 30px 75px;
	-webkit-animation: char_pop 2.0s;
	animation: char_pop 2.0s；
	opacity: 1.0;
}

.abled .geisha{
	background: url('images/char/geisha.png');
	background-size: 30px 75px;
	-webkit-animation: char_pop 2.0s;
	animation: char_pop 2.0s；
	opacity: 1.0;
}

.unabled .char{
	background: url('images/char/char_unknown.png');
	background-size: 30px 75px;
	-webkit-animation: char_pop 2.0s;
	animation: char_pop 2.0s；
	opacity: 1.0;
}

.carpet{
	position:absolute;
	bottom:0px;
	left: 0px;
	bottom: 0px;
	width: 50px;
	height: 35px;
	background-repeat: no-repeat;
	background: url('images/carpet.png');
	background-size: 50px 35px;
	z-index:10;
}

.upgrade{

	bottom: 10px;
	left: 50%;

}

.insert{
	bottom: 60px;
	left: 50%;
}

.roleimg{
	position: absolute;
	left: 5%;
	top:20%;
}
.rolelevel{
	position: absolute;
	top: 60%;
	left:5%;
}

.external_control{
	position: absolute;
	right: 5%;
	top: -20px;
}

#battle_warning{
	display: none;
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#battle_result{
	display: none;
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#switch_warning{
	display: none;
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#switch_result_passive{
	display: none;
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}


#switch_confirmation{
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#switch_result_active{
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

.notePopup1{
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
	height: 80px;
	background: url('images/messsage_popup1.png');
	background-size: 100% 80px;
	background-repeat: no-repeat;
	-webkit-animation: pop_a 0.3s;
	animation: pop_a 0.3s；
}

.notePopup1 > .noteContainer{
	position: absolute;
	left: 5%;
	top: 10px;
	width: 90%;
	height: 60px;
	-webkit-animation: notetextPop 0.6s;
	animation: notetextPop 0.6s；
}

@-webkit-keyframes notetextPop {
  from {left: -200%;} 
  to {left: 5%;}
}

@keyframes notetextPop {
  from {left: -200%;} 
  to {left: 5%;}
}

.notePopup1 > .noteContainer > .note{
	position: relative;
	font-family: "arcadeclassic";
	font-size: 25px;
	text-align: center;
	font-weight: lighter;
}

.notePopup2{
	position: absolute;
	top: 45%;
	left: 0%;
	width: 100%;
	height: 80px;
	background: url('images/messsage_popup1.png');
	background-size: 100% 30px;
	background-repeat: no-repeat;
	-webkit-animation: pop_b 0.6s;
	animation: pop_b 0.6s；
}

.notePopup2 > .note{
	position: absolute;
	left: 35%;
	font-family: "arcadeclassic";
	font-size: 25px;
	text-align: center;
	font-weight: lighter;
	-webkit-animation: pop_text_b 0.9s;
	animation: pop_text_b 0.9s；
}

.sky{
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('images/sky.png');
	width: 100%;
	height: 10%;
}

.loading{
	position: absolute;
	font-family: "arcadeclassic";
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	top: 45%;
	left: 40%;
}
 /*===================END==================*/


/*===================STORY==================*/

.story_container{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('images/background.png');
	width: 100%;
	height: 100vh;
}

.landscape{
	position: absolute;
	bottom: 0px;
	left: 5%;
	background: url('images/landscape.png');
	background-size: 350px auto;
	width: 100%;
  	height: 30vh;
  	background-repeat: no-repeat;

}

.cloud1{
	position: absolute;
	top: 110px;
	left: -50vh;
	background: url('images/cloud1.png');
	background-size: 90px auto;
	width: 100px;
  	height: 100px;
  	background-repeat: no-repeat;

  	-webkit-animation-name: cloud_a; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 25s; /* Safari 4.0 - 8.0 */
  	-webkit-animation-timing-function: linear;
  	-webkit-animation-iteration-count: infinite;

  	animation-name: cloud_a;
  	animation-duration: 23s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud_a {
  from {left: -50px;}
  to {left: 100%;}
}

/* Standard syntax */
@keyframes cloud_a {
  from {left: -50px;}
  to {left: 100%;}
}

.cloud2{
	position: absolute;
	top: 80px;
	left: -20px;
	background: url('images/cloud2.png');
	background-size: 100px 50px;
	width: 200px;
  	height: 100px;
  	background-repeat: no-repeat;

  	-webkit-animation-name: cloud_b; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
  	-webkit-animation-timing-function: linear;
  	-webkit-animation-iteration-count: infinite;

  	animation-name: cloud_b;
  	animation-duration: 35s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud_b {
  from {left: -20px;}
  to {left: 100%;}
}

/* Standard syntax */
@keyframes cloud_b {
  from {left: -20px;}
  to {left: 100%;}
}

/*petal does not garantee working on safri 4.0-8.0 as cloud does*/
.petal1{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('images/petal.png');
	background-size: 10px auto;
	width: 10px;
  	height: 10px;
  	background-repeat: no-repeat;

  	animation: petal_a 35s ease-out infinite;
  	z-index: 20;
}

/* Standard syntax */
@keyframes petal_a {
  from {top: 0px; left: 0px;transform: rotate(0deg); }
  to {top: 100%;left: 70%;transform: rotate(-780deg); }
}

.petal2{
	position: absolute;
	top: 100px;
	left: 0px;
	background: url('images/petal.png');
	transform: rotate(160deg); 
	background-size: 8px auto;
	width: 10px;
  	height: 10px;
  	background-repeat: no-repeat;
 	animation: petal_b 28s ease infinite;
  	z-index: 20;
}

/* Standard syntax */
@keyframes petal_b {
  from {top: 100px; left: 0px;transform: rotate(160deg); }
  to {top: 80%;left: 70%;transform: rotate(-300deg); }
}

.petal3{
	position: absolute;
	top: 300px;
	left: 0px;
	background: url('images/petal.png');
	transform: rotate(10deg); 
	background-size: 9px auto;
	width: 10px;
  	height: 10px;
  	background-repeat: no-repeat;

  animation: petal_c 25s linear infinite;
  z-index: 20;
}

/* Standard syntax */
@keyframes petal_c {
  from {top: 300px; left: 0px;transform: rotate(10deg); }
  to {top: 80%; left: 70%;transform: rotate(-450deg); }
}

.title{
	position: absolute;
	width: 100px;
	top: 25%;
	left: 15%;
	font-family: "arcadeclassic";
	font-size: 50px;
	text-align: center;
	font-weight: normal;
}

.story{
	position: absolute;
	font-family: "arcadeclassic";
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 50%;
	letter-spacing: 0.05em;
	word-spacing: 2px;
	line-height: 1.4;
}

.paragraph{
	margin-top: 20px;
}

.story_skip{
	position: absolute;
	width: 150px;
	top: 60%;
	left: 55%;
	font-family: "arcadeclassic";
	font-size: 20px;
	text-align: center;
	font-weight: normal;
}

.story_skip:active{
	transform: translateY(4px);
}

.story_start{
	position: absolute;
	width: 150px;
	top: 55%;
	left: 55%;
	font-family: "arcadeclassic";
	font-size: 20px;
	text-align: center;
	font-weight: normal;
}

.story_start:active{
	transform: translateY(4px);
}
/*===================END==================*/


/*===================MENU==================*/

#page_flipper1{
	position: absolute;
	bottom: 18%;
	left: 47%;
	width: 20px;
	height: 40px;
	background: url('images/next.png');
	background-size: 20px auto;
	background-repeat: no-repeat;
	text-align: center;
}
#page_flipper2{
	position: absolute;
	bottom: 18%;
	left: 47%;
	width: 20px;
	height: 40px;
	background: url('images/next.png');
	background-size: 20px auto;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

#part2{
	visibility: hidden;
}

.menu{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('images/background.png');
	width: 100%;
	height: 100vh;
	z-index: 100;
	opacity: 1.0;
}

#level1_menu{
	position: absolute;
	top: 35%;
	left: 20%;
	width: 60%;
	height: 40%;
	font-size: 35px;
	text-align: center;
	line-height: 2;
	opacity: 1.0;
}

#level2_menu_instruction{
	display: none;
	opacity: 1.0;
}

.resume:active{
	transform: translateY(4px);
}

.instruction:active{
	transform: translateY(4px);
}

.quit:active{
	transform: translateY(4px);
}

#p1_text{
	position: absolute;
	width: 85%;
	top: 10%;
	left: 10%;
	font-size: 23px;
}

#p1_roles_diagram_container{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 270px;
	height: 230px;
}

#p2_text{
	position: absolute;
	width: 85%;
	top: 10%;
	left: 10%;
	font-size: 23px;
}

#p2_diagram{
	position: absolute;
	left: 8%;
	width: 90%;
	top: 25%;
}

#back{
	position: absolute;
	bottom: 10%;
	left: 35%;
	text-align: center;
	font-size: 35px;
	width: 30%;
}

.skill_icon{
	margin-bottom: 8px;
}

#skill_intros{
	font-size: 15px;
	position: absolute;
	top: 0px;
	left: 65px;
}

.skill_intro{
	margin-top: 15px;
	margin-bottom: 30px;
}

/*===================END==================*/

/*===================ROLE SELECTION==================*/
.roles_diagram_container_prep{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 270px;
	height: 230px;
}

.arrow_top{
	position: absolute;
	left: 120px;
	top: 50px;
	width: 25px;
	height: 25px;
	background: url('images/arrow.png');
	transform: rotate(0deg);
	background-size: 25px auto;
}
.arrow_bottom{
	position: absolute;
	left: 120px;
	bottom: 50px;
	width: 25px;
	height: 25px;
	background: url('images/arrow.png');
	transform: rotate(180deg);
	background-size: 25px auto;
}
.arrow_left{
	position: absolute;
	left: 50px;
	top: 100px;
	width: 25px;
	height: 25px;
	background: url('images/arrow.png');
	transform: rotate(270deg);
	background-size: 25px auto;
}
.arrow_right{
	position: absolute;
	right: 55px;
	top: 100px;
	width: 25px;
	height: 25px;
	background: url('images/arrow.png');
	transform: rotate(90deg);
	background-size: 25px auto;
}

.role_prep{
	width: 30px;
	height: 70px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

#detective_prep{
	background: url('images/char/detective.png');
	background-size: 30px 70px;
	background-repeat: no-repeat;
}

#farmer_prep{
	background: url('images/char/farmer.png');
	background-size: 30px 70px;
	background-repeat: no-repeat;
}

#gangster_prep{
	background: url('images/char/gangster.png');
	background-size: 30px 70px;
	background-repeat: no-repeat;
}

#geisha_prep{
	background: url('images/char/geisha.png');
	background-size: 30px 70px;
	background-repeat: no-repeat;
}

#detective_prep:active, #farmer_prep:active, #gangster_prep:active, #geisha_prep:active{
	transform: translateY(4px);
}

.box{
	width: 50px;
	height: 80px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
}

.selected_box{
	background: url('images/select_box.png');
	background-size: 50px 80px;
	background-repeat: no-repeat;
}

.intro_select{
	position: absolute;
	left: 10%;
	top: 12%;
   	font-family: "arcadeclassic";
  	font-size: 30px; 
  	width: 80%;
  	text-align:center;	
}

.intro_counter{
	position: absolute;
   	font-family: "arcadeclassic";
  	font-size: 20px; 
  	left: 20%;
  	top: 55%;
  	width: 60%;	
  	text-align: center;		
}

.ok_role_prep{
	position: absolute;
   	font-family: "arcadeclassic";
  	font-size: 40px; 
  	left: 40%;
  	top: 65%;
  	width: 20%;	
  	text-align: center;	
}

.ok_role_prep:active {
	transform: translateY(4px);
}


/*===================END==================*/

/*===================login/signup==================*/
#loginform, #signupform{
	position: absolute;
	font-family: "arcadeclassic";
	text-align: center;
	font-weight: lighter;
	top: 20%;
	left: 0px;
	width: 100%;
	height: 50%;
}

.tonggle{
	position: absolute; 
	left: 40%;
	margin-top: 30px;
	font-size: 20px;
	width: 200px;
	text-align:center;
}

.username, .password{
	margin-top: 30px;
	font-size: 23px;
}

.login, .signup{
	font-size: 35px;
	text-align: center;
	margin-bottom: 80px;
	font-weight: lighter;
}

input{
   	border: 0;
   	outline: 0;
   	background: transparent;
   	border-bottom: 1px solid black;
   	width: 150px;
   	text-align: center;
   	font-family: "arcadeclassic";
  	font-size: 20px;
 	font-weight: lighter;
}

.submit{
	position: absolute;
	bottom: 0px;
	left: 45%;
	font-size: 35px;
}

.submit:active{
	transform: translateY(4px);
}

.errormsg{
 	position: absolute;
 	top: 70px;
 	left: 130px;
}

/*===================END==================*/


/*===================READY==================*/


#char_ready_container{
	position: absolute;
	left:40%;
	top: 25%;
	width: 50px;
	height: 120px;
}

.char_ready_0{
	background: url('images/char/detective.png');
	background-size: 50px auto;
	background-repeat: no-repeat;
}

.char_ready_1{
	background: url('images/char/gangster.png');
	background-size: 50px auto;
	background-repeat: no-repeat;

}

.char_ready_2{
	background: url('images/char/farmer.png');
	background-size: 50px auto;
	background-repeat: no-repeat;

}

.char_ready_3{
	background: url('images/char/geisha.png');
	background-size: 50px auto;
	background-repeat: no-repeat;
}

.info_container_ready{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 45%;
	left: 25%;
   	text-align: left;
   	font-family: "arcadeclassic";
  	font-size: 20px;
 	font-weight: lighter;		
}

.ready_prep{
	width: 40%;
	height: 50px;
	position: absolute;
	top: 62%;
	left: 30%;
   	text-align: center;
   	font-family: "arcadeclassic";
  	font-size: 30px;
 	font-weight: lighter;		
}

.ready_prep:active{
	transform: translateY(4px);
}

/*===================END==================*/
